@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --header-height: 75px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  color: #232929;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
}

.paddings {
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center-spaceb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cont-right {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: baseline;
}

#compCounter {
  font-size: 24px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__menu {
  height: 100%;
  background-color: #5e81d1;
}

.header__page-title {
  font-size: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* .main-nav__nav-item--selected { Class preparada para el menu real, comentada porque no es aplicable
  font-weight: 600;
} */

.main-nav__nav-item {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type="radio"] {
  display: none;
}

input:checked + label {
  font-weight: bold;
}

.main-content {
  display: none;
}

/* .main-content--principal + .header #nav-principal:checked {
  display: block;
} */

#nav-principal:checked ~ .main-content:nth-child(2n + 1) {
  display: block;
}

.header__info {
  height: 70px;
  background-color: #f87500;
}

.main-content {
  padding-top: 20px;
  /* display: none; */
}

.article-edit {
  gap: 15px;
}

.article-edit__form {
  gap: 10px;
}

.article-edit__form-field {
  position: relative;
  gap: 5px;
}

.article-edit__field-title {
  font-weight: 300;
}

.article-edit__field-input {
  border-width: 0;
  width: 150px;
  height: 30px;
}

.article-edit__field-title--price::after {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 150px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  content: "€";
}

.article-edit__form-button {
  margin-top: 5px;
  width: fit-content;
  height: 30px;
  background-color: #5e81d1;
  color: white;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
